body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#logo {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
   padding-top: 150px;
   max-width: 38%;

}

#searchbox {
   width: 70%;
   
   border: transparent;
}

.formsearch {
    z-index: 1;
   position: relative;
padding-top: 35px;
    text-align: center;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-areas: "search-box"
                        "search-b feeling-b";
}

nav:hover{
    box-shadow: 4px 1px 13px rgba(105, 102, 102, 0.349);
}
nav {
z-index: 0;
 width: 80%;
 background-color: rgb(255, 255, 255);
 padding: 8px;
 border-radius: 20px;
position: relative;
margin-left: -40%;
left: 50%;
right: 0px;
top: -26px;
border: solid 1px rgba(37, 36, 36, 0.11);

}

#searchdiv {
    position: relative;
}
#searchicon {
position: absolute;
top: -54px;
left: 11%;
opacity: 0.4;

max-width: 3%;

}


